body{
    overflow-x: hidden;
  }
  

  img{
    vertical-align: middle;
    border-style: none;
    width: 857px;
    height: 901px;
  }
  .logo{
    position: relative;
    left: -15%;
    vertical-align: middle;
    border-style: none;
    width: 100px;
    height: 100px;

    
  }

  .logos{
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  
  
  .hhhh{
   height: 900px;
  }
  @media screen and (max-width:767px) {
  .image{
  display: none;
   }
   body{
    overflow-x: hidden;
  }
  }

  .center{
    margin-top: 10%;
  }

  
  #login::placeholder{
    color: #00BFFF;
}

#password::placeholder{
    color: #00BFFF;
}
   
.primary{
 border: solid 1px #1e293b;
}

.btnn {
  background-color: #1e293b;
  border-radius: 5px;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 margin-left: -15%;

 
}

.compte{
  position: relative;
  top: 30px;
}