.slogan{
    margin-top: 4%;
    margin-left: 20%;
}

.slogan1{
    margin-top: 6%;
   margin-left: -21%;
}

.primary{
    border: solid 1px #00BFFF;
   }

   .prendre {
    background-color: #1e293b;
    border-radius: 5px;
    color: white;
    text-decoration: none;
     display: inline-block;
    font-size: 16px;
    margin-left: 58%; 
    width: 10%;

  
  
   
  }


  .ml-4, .mx-4 {
    margin-left: 2.5rem !important;

}





.liste{
  margin-left: 18%;
}


 .tab{
margin-top: -5%;
width: 1490px;

 }


 .btns{
  background-color: #1e293b;
  border-radius: 5px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 50%;
 
}

.btnss{
  background-color:  #00BFFF;
  border-radius: 5px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 35%;
  margin-left: 35px;
 
}