body{
    overflow-x: hidden;
  }
  

  img{
    vertical-align: middle;
    border-style: none;
    width: 857px;
    height: 901px;
  }
  .logo{
    /* vertical-align: middle;
    border-style: none; */
    margin-left: 35%;
    margin-top: -3%;
    
  }
  
  .hhhh{
   height: 900px;
  }
  @media screen and (max-width:767px) {
  .image{
  display: none;
   }
   body{
    overflow-x: hidden;
  }
  }

  .center{
    margin-top: 10%;
  }

  
  #login::placeholder{
    color: #00BFFF;
}

#password::placeholder{
    color: #00BFFF;
}
   
.primary{
 border: solid 1px #00BFFF;
}

.btn {
  background-color: #00BFFF;
  border-radius: 5px;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 margin-left: -15%;
 width: 10%;
 height: 40px;
 
}
.bouton{
  background-color: #00BFFF;
  border-radius: 5px;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 1px solid #00BFFF;
  width: 10%;
  height: 40px;
  margin-left: 10%;
  
 
 
}

.compte{
  color: #00BFFF;
}

.box{
    display: flex;
  margin-left: 13%;
}


.tout{
    margin-top: -6%;
}

.marge{
    margin-top: -3%;
}

.marges{
   margin-left: 30%;
}

.we{
    width: 140%;
    margin-left: 30%;
}

.w{
    width: 140%;
  
}
